body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #365532;
    color: white;
    padding: 20px;
    width: 100%;
}

body > :not(header) {
    padding-left: 50px;
}

.upper-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

.nav-header {    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 50px;
    padding-left: 30px;
}

.nav-header-upperleft {
    grid-column: 1;
    grid-row: 1;
}

.nav-header-lowerleft {
    grid-column: 1;
    grid-row: 2;
}

.nav-header-upperright {
    grid-column: 2;
    grid-row: 1;
}

.nav-header-lowerright {
    grid-column: 2;
    grid-row: 2;
    padding-right: 50px;
}


.text-grid{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 50px;
}

.empty-div{
    grid-column: 3;
    grid-row: 1;
}

.about-image-logo {
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  grid-column: 1;
  grid-row: 1;
}

ul:not(.not-header) {
    list-style-type: none;
    padding: 0;
}

ul:not(.not-header) li {
    display: inline;
    margin: 0 15px;
}

ul:not(.not-header) li a {
    color: #ecf0f1;
    text-decoration: none;
}

ul:not(.not-header) li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

#about, #news, #armies {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #2c3e50;
}

article {
    margin-bottom: 20px;
}

article h3 {
    color: #2980b9;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #365532;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    margin-top: 10px;
    border-radius: 5px;
}

.about-image {
    display: block; 
    width: 50%; 
    max-width: 300px;
    height: auto;  
}